- provide(:title, "#{@user.name}'s Team")

.container
    .row
        .col-md-3
        .col-md-9
            = form_for(@team) do |f|
                %h3 Rooster (57.5kg)
                = f.collection_select(:rooster_fighter_id, Fighter.where(weight: "Rooster (57.5kg)"), :id, :name)
                %h3 Light Feather (64kg)
                = @user.team.light_feather_fighter_id
                %h3 Feather (70kg)
                = @user.team.feather_fighter_id
                %h3 Light (76kg)
                = @user.team.light_fighter_id
                %h3 Middle (82.3kg)
                = @user.team.middle_fighter_id
                %h3 Medium Heavy (88.3kg)
                = @user.team.medium_heavy_fighter_id
                %h3 Heavy (94.3kg)
                = @user.team.heavy_fighter_id
                %h3 Super Heavy (100.5kg)
                = @user.team.super_heavy_fighter_id
                %h3 Ultra Heavy
                = @user.team.ultra_heavy_fighter_id

                = f.submit "Save changes", class: "btn btn-large btn-primary"