- provide(:title, "#{@user.name}'s Team")

.container
    .row
        .col-md-3
        .col-md-9
            %h3 Rooster (57.5kg)
            - @rooster = Fighter.find_by(id: @user.team.rooster_fighter_id)
            - unless @rooster.nil?
                = @rooster.name
            %h3 Light Feather (64kg)
            - @light_feather = Fighter.find_by(id: @user.team.light_feather_fighter_id)
            - unless @light_feather.nil?
                = @light_feather.name
            %h3 Feather (70kg)
            - @feather = Fighter.find_by(id: @user.team.feather_fighter_id)
            - unless @feather.nil?
                = @feather.name
            %h3 Light (76kg)
            = @user.team.light_fighter_id
            %h3 Middle (82.3kg)
            = @user.team.middle_fighter_id
            %h3 Medium Heavy (88.3kg)
            = @user.team.medium_heavy_fighter_id
            %h3 Heavy (94.3kg)
            = @user.team.heavy_fighter_id
            %h3 Super Heavy (100.5kg)
            = @user.team.super_heavy_fighter_id
            %h3 Ultra Heavy
            = @user.team.ultra_heavy_fighter_id

            = link_to "Change Team", edit_team_path, class: "btn btn-large btn-primary"